<p>
  <%= image_tag @message.pic.url(:original) if @message.pic.present? %>

  <%= @message.context if @message.context %>

</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
