<p>
  <%= image_tag @message.pic.url(:original) if @message.pic.present? %> <br />

  <%= @message.context if @message.context %>

</p>


<%= link_to '编辑', edit_message_path(@message) %> |
<%= link_to '返回', messages_path %>
