<!DOCTYPE html>
<html>
<head>
  <title>爱拍网</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="page-home">

	<div id="header_wrap">
		<div id="main-header">
			<div id="main-logo"><a href="#"></a></div>

			<div id="nav">
				<ul>
					<li ><a title="主页" href="#">主页</a></li>
					<li><a title="用户设置" href="#">用户设置</a></li>
					<li><a title="帐号绑定" href="#">帐号绑定</a></li>
					<li><a title="退出" href="#">退出</a></li>
				</ul>
			</div>

		</div>
	</div>



    <%= yield %>

<div id="footer">
        <a  href="#">美控电子科技有限公司版权所有</a>
   		<a class="footer-item" href="#">沪ICP备10023号</a>
        <a class="footer-item" href="#">关于我们</a>
        <a class="footer-item" href="#"> 联系我们</a>
        <a class="footer-item" href="#">招贤纳士</a>
        <a class="footer-item" href="#">服务条款</a>
        <a class="footer-item" href="#">隐私政策</a>
</div>

</body>
</html>
